@charset "UTF-8";

/* CSS Document */


/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px
}

body {
    width: 980px;
    height: 2000px;
    margin: auto;
    background-image: url("background.png");
    background-repeat: no-repeat;
    font-family: verdana;
}

nav {
    font-size: 50px;
    position: absolute;
    top: 30px;
    display: inline;
    padding-left: 20px;
    z-index: 0;
}

nav a {
    text-decoration: none;
    color: #4ca1af;
    z-index: 0;
}

#home{
  width: 250px;
}

#info {
    width: 250px;
    margin-left: 77px;
}

#report {
  width: 250px;
    margin-left: 74px;
}

h1{
  position: absolute;
  top: 450px;
  font-size: 60px;
  width: 70%;
  margin-left: 10%;
  color: white;
}

p{
  font-size: 30px;
  position: absolute;
  width: 800px;
  left: 90px;
  color: white;
}

#blurb{
  top: 700px;
}

#thankyou{
  position: absolute;
  top: 830px;
  color: #4ca1af;
}

.small-font{
  font-size: 25px;
}

form {
    width: 800px;
    position: absolute;
    left: 90px;
    text-align: left;
    font-size: 40px;
    top: 900px;
    color: white;
}

input[type=radio]{
  width: 30px;
  height: 35px;
  font-size: 40px;
}

input[type=text] {
    width: 800px;
    height: 60px;
    padding: 4px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 4px solid #4ca1af;
    background-color: white;
    color: black;
    outline: none;
    font-size: 40px;
}

input[type=text]:focus {
    border: 6px solid #4ca1af;
    font-size: 40px;
}

input[type=submit], input[type=reset] {
    background-color: #4ca1af;
    border-bottom: solid 3px grey;
    border-right: solid 3px grey;
    color: white;
    padding: 20px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: verdana, sans-serif;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 160px;
}

div{
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
    padding: 6px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

footer {
    text-align: center;
    font-size: 30px;
    color: white;
    position: absolute;
    width: 80%;
    top: 2040px;
    left: 10%;
}

footer a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

footer li {
    display: inline;
}
