@charset "UTF-8";

/* CSS Document */

/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px
}

main{
  background: url("images/background2.png");
  position: relative;
  width: 1280px;
  height: 800px;
}

/* Keith Harring */

#buddies{
  width: 265px;
  height: 260px;
  border: 10px solid transparent;
  position: absolute;
  top: 106px;
  left: 330px;
  cursor: default;
}

#buddyinfo{
  width: 100%;
  height: 300px;
  background-color: #6eba97;
  opacity: .85;
  position: fixed;
  top: 30%;
  display: none;
  z-index: 1;
}

#buddycontent{
  width: 600px;
  height: 400px;
  margin: auto;
  margin-top: 50px;
  font-family: monospace;
  font-size: 24px;
}

#closebuddy{
  position: fixed;
  right: 400px;
  top: 35%;
  cursor: default;
}

/* Woodward */

#woodward{
  position: absolute;
  width: 193px;
  height: 190px;
  border: 10px solid transparent;
  top: 96px;
  left: 630px;
  cursor: default;
}

#woodwardinfo{
  width: 100%;
  height: 350px;
  background-color: #f5c000;
  opacity: .85;
  position: fixed;
  top: 25%;
  display: none;
  z-index: 1;
}

#woodwardcontent{
  width: 600px;
  height: 400px;
  margin: auto;
  margin-top: 50px;
  font-family: monospace;
  font-size: 24px;
}

#closeww{
  position: fixed;
  right: 400px;
  top: 30%;
  cursor: default;
}

/* pataloha sticker */
#pataloha{
  position: absolute;
  width: 384px;
  height: 176px;
  border: 10px solid transparent;
  top: 314px;
  left: 628px;
  cursor: default;
}

#patalohainfo{
  width: 100%;
  height: 350px;
  background-color: #515621;
  opacity: .85;
  position: fixed;
  top: 25%;
  display: none;
  z-index: 1;
}

#patalohacontent{
  width: 600px;
  height: 400px;
  margin: auto;
  margin-top: 50px;
  font-family: monospace;
  font-size: 24px;
}

#closepat{
  position: fixed;
  right: 400px;
  top: 30%;
  cursor: default;
}
