@charset "UTF-8";

/* CSS Document */

/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px
}

body{
  font-family: courier;
  background: url("images/background.png");
  color: #ec499b;
}

h1{
  font-size: 60px;
}

h2{
  font-size: 30px;
}

.hide{
  display: none;
}

h1, h2{
  padding-top: 10px;
  text-align: center;
  cursor: default;
}

#instruct{
  opacity: 0;
}

#image{
  padding-top: 20px;
  width: 300px;
  height: 250px;
  margin: auto;
}

#heart{
  cursor: default;
}

#tooltipsection{
  width: 300px;
  height: 50px;
  margin:auto;
  margin-top: 10px;
}

#tooltip{
  position:absolute;
  width: 250px;
  padding:10px;
  border-radius:20px;
  font-size:20px;
  background-color: white;
  border: 3px dotted #edb4eb;
  opacity:0;
  text-align: center;
  margin: auto;
}

#whoyouget{
  width: 400px;
  height: 100px;
  border-radius:20px;
  border: 3px dotted #edb4eb;
  background-color: white;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

#title{
  font-size: 24px;
  padding-top: 7px;
}

#name{
  font-size: 30px;
  padding-bottom: 5px;
  opacity: 0;
  cursor: default;
}

#comment{
  opacity: 0;
}

footer {
    text-align: center;
    font-family: monospace;
    font-size: 14px;
    color: #ec499b;
    position: absolute;
    width: 20%;
    bottom: 20px;
    left: 40%;
}

footer a {
    color: #ec499b;
    text-decoration: none;
    padding: 10px;
}

footer li {
    display: inline;
}
