* {
    margin: 0;
    padding: 0;
}
/*most designers start with a css reset: http://meyerweb.com/eric/tools/css/reset/ */

body {
    width: 800px;
    margin: auto;
}

h1, h3 {
    text-align: center;
    width: 800px;
}

p, h1, h2, h3 {
    color: darkblue;
    font-family: 'Arsenal', sans-serif;
}

a {
    text-decoration: none;
    font-family:'Arsenal', sans-serif;
    color: darkslategrey;
}

section#navigation{
    width: 800px;
    border-top: double #000080 2px;
}

div {
    float: left;
    width:266.667px;
    padding-top:30px;
}

nav{
    text-align: left;
}

section #name {
  clear: both;
  text-align: center;
  margin: auto;
}

footer {
    clear: both;
    text-align: center;
    margin: auto;
}

section #links{
  text-align: center;
}

footer li {
    display: inline;
}

ul {
  padding: 0;
}
